In [1]:
from BayesianNetworks import *
import numpy as np
import pandas as pd

In [2]:
BatteryState = readFactorTable(['battery'], [0.9, 0.1], [[1, 0]])
BatteryState

   probs  battery
0    0.9        1
1    0.1        0

In [3]:
FuelState = readFactorTable(['fuel'], [0.9, 0.1], [[1, 0]])
FuelState

   probs  fuel
0    0.9     1
1    0.1     0

In [4]:
GaugeBF = readFactorTable(['gauge', 'battery', 'fuel'], [0.8, 0.2, 0.2, 0.1, 0.2, 0.8, 0.8, 0.9], [[1, 0], [1, 0], [1, 0]])
GaugeBF

   probs  fuel  battery  gauge
0    0.8     1        1      1
1    0.2     0        1      1
2    0.2     1        0      1
3    0.1     0        0      1
4    0.2     1        1      0
5    0.8     0        1      0
6    0.8     1        0      0
7    0.9     0        0      0

In [5]:
joinFactors(BatteryState, FuelState)

   probs  battery  fuel
0    0.9        1     1
1    0.1        0     0

In [6]:
joinFactors(joinFactors(BatteryState, FuelState), GaugeBF)

   probs  fuel  battery  gauge
0  0.648     1        1      1
1  0.018     0        1      1
2  0.018     1        0      1
3  0.001     0        0      1
4  0.162     1        1      0
5  0.072     0        1      0
6  0.072     1        0      0
7  0.009     0        0      0

In [7]:
joinFactors(joinFactors(BatteryState, FuelState), GaugeBF)

   probs  fuel  battery  gauge
0  0.648     1        1      1
1  0.018     0        1      1
2  0.018     1        0      1
3  0.001     0        0      1
4  0.162     1        1      0
5  0.072     0        1      0
6  0.072     1        0      0
7  0.009     0        0      0

In [8]:
joinFactors(GaugeBF, FuelState)

   probs  fuel  battery  gauge
0   0.72     1        1      1
1   0.02     0        1      1
2   0.18     1        0      1
3   0.01     0        0      1
4   0.18     1        1      0
5   0.08     0        1      0
6   0.72     1        0      0
7   0.09     0        0      0

In [9]:
joinFactors(joinFactors(GaugeBF, FuelState), BatteryState)

   probs  fuel  battery  gauge
0  0.648     1        1      1
1  0.018     0        1      1
2  0.018     1        0      1
3  0.001     0        0      1
4  0.162     1        1      0
5  0.072     0        1      0
6  0.072     1        0      0
7  0.009     0        0      0

In [18]:

fT

   probs  fuel  battery  gauge
0   0.72     1        1      1
1   0.18     0        1      1
2   0.02     1        0      1
3   0.01     0        0      1
4   0.18     1        1      0
5   0.72     0        1      0
6   0.08     1        0      0
7   0.09     0        0      0

In [31]:
fT = joinFactors(GaugeBF, BatteryState)
hiddenVar = 'gauge'
fT = fT.drop(columns=hiddenVar)
fT

   probs  fuel  battery
0   0.72     1        1
1   0.18     0        1
2   0.02     1        0
3   0.01     0        0
4   0.18     1        1
5   0.72     0        1
6   0.08     1        0
7   0.09     0        0

In [32]:
fT = fT[fT['fuel']==1]
fT

   probs  fuel  battery
0   0.72     1        1
2   0.02     1        0
4   0.18     1        1
6   0.08     1        0

In [19]:
varnames = list(fT.columns)
varnames.remove('probs')
varnames
fT[fT.columns].groupby(varnames, as_index=False).sum()

   fuel  battery  probs
0     0        0    0.1
1     0        1    0.9
2     1        0    0.1
3     1        1    0.9

In [13]:
list(fT.columns).remove('probs')

In [9]:
joinFactors(GaugeBF, BatteryState)

   probs  fuel  battery  gauge
0   0.72     1        1      1
1   0.18     0        1      1
2   0.02     1        0      1
3   0.01     0        0      1
4   0.18     1        1      0
5   0.72     0        1      0
6   0.08     1        0      0
7   0.09     0        0      0

In [15]:
marginalizeFactor(joinFactors(GaugeBF, BatteryState), 'gauge')

   probs  fuel  battery  gauge
0   0.72     1        1      1
1   0.18     0        1      1
2   0.02     1        0      1
3   0.01     0        0      1
4   0.18     1        1      0
5   0.72     0        1      0
6   0.08     1        0      0
7   0.09     0        0      0

In [5]:
joinFactors(marginalizeFactor(joinFactors(GaugeBF, BatteryState), 'battery'), FuelState)

   fuel  gauge  probs
0     0      0  0.081
1     0      1  0.019
2     1      0  0.234
3     1      1  0.666

In [6]:
marginalizeFactor(joinFactors(joinFactors(GaugeBF, FuelState), BatteryState), 'battery')

   fuel  gauge  probs
0     0      0  0.081
1     0      1  0.019
2     1      0  0.234
3     1      1  0.666

In [7]:
marginalizeFactor(joinFactors(marginalizeFactor(joinFactors(GaugeBF, BatteryState), 'battery'), FuelState), 'gauge')

   fuel  probs
0     0    0.1
1     1    0.9

In [8]:
marginalizeFactor(joinFactors(marginalizeFactor(joinFactors(GaugeBF, BatteryState), 'battery'), FuelState), 'fuel')

   gauge  probs
0      0  0.315
1      1  0.685

In [ ]:
fT = marginalizeFactor(joinFactors(GaugeBF, BatteryState), 'gauge')
fT

In [30]:
a = 'fuel'
a = [a]
a

['fuel']

In [40]:
def evidenceUpdateNet(bayesnet, evidenceVars, evidenceVals):
    # your code
    updated_bayesnet = []
    if type(evidenceVars)!=list:
        evidenceVars = [evidenceVars] 
    for var,val in zip(evidenceVars, evidenceVals):
        for net in bayesnet:
            try:
                net = net[net[var]==val]
                updated_bayesnet.append(net)
            except KeyError:
                updated_bayesnet.append(net)
    return updated_bayesnet

In [41]:
carNet = [BatteryState, FuelState, GaugeBF]
carNet

[   probs  battery
 0    0.9        1
 1    0.1        0,    probs  fuel
 0    0.9     1
 1    0.1     0,    probs  fuel  battery  gauge
 0    0.8     1        1      1
 1    0.2     0        1      1
 2    0.2     1        0      1
 3    0.1     0        0      1
 4    0.2     1        1      0
 5    0.8     0        1      0
 6    0.8     1        0      0
 7    0.9     0        0      0]

In [43]:
evidenceUpdateNet(carNet, 'fuel', [1])

[   probs  battery
 0    0.9        1
 1    0.1        0]